<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Головна</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link href="styles/css/all.css" rel="stylesheet">
</head>
<body>

<form method="get" action="generateAll">
    <button type="submit">Генерувати дані таблиць</button>
</form>

<form method="get" action="presenters">
    <button type="submit">Ведучі</button>
</form>

<form method="get" action="broadcasts">
    <button type="submit">Трансляції</button>
</form>

<form method="get" action="parts">
    <button type="submit">Частини трансляції</button>
</form>
</body>
</html>